@using GTAC.GTACAir.Web.Models

@model AircraftViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerSite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
